<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizletClone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background:black">
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="h2" asp-area="" asp-controller="Home" asp-action="Index">QuizletClone</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse col-5">
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (TempData.ContainsKey("username"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="MyLibrary">Your Library</a>
                            </li>
                        }
                            <li class="nav-item">
                                <button type="button" class="btn btn-info">Create Quiz</button>
                            </li>
                        </ul>
                </div>
                <div class="col-md-6" style="right:-40px">
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item">
                            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { style = "display:flex" }))
                            {
                                    @Html.TextBox("searching", "", new { @style = "width:300px", @class = "form-control mr-2",@placeholder="search for user, set of Quizz,.." })
                                    <button class="btn btn-primary" type="submit">Search</button>
                            }

                        </li>
                        <li class="nav-item ml-2 dropdown">
                           
                                @if(TempData.ContainsKey("username"))
                                {
                                    <span class="text-light">
                                        <img src="@TempData.Peek("userAva")" style="width:35%;height:85%;cursor:pointer" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-controller="Flashcard" asp-action="User" asp-route-id="@TempData.Peek("uid")">Account</a>
                                            <a class="dropdown-item" asp-controller="Home" asp-action="Logout">Log out</a>
                                        </div>
                                        Hello @TempData.Peek("username")!!
                                    </span>
                                }
                                else
                                {
                                    <img src="~/img/user.png" style="width:25%;height:85%;cursor:pointer" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Login">Login</a>
                                    </div>
                                    }
                                
                            
                        </li>
                        </ul>
                    </div>

                </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 pt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2021 - QuizletClone - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
