@{
    ViewData["Title"] = "Flashcard";
}
<style>
    * {
        color: white;
    }
    .card-container:hover .card-front{
        transform: rotateX(180deg);
    }
    .card-container:hover .card-back {
        transform: rotateX(0deg);
    }
    .card-back {
        transform: rotateX(-180deg);
    }
    .card-container{
        position:relative;
        perspective:200rem;
        height:35rem;
        width:54rem;
    }
    .mycard {
        position: absolute;
        transition: all 0.9s;
        backface-visibility: hidden;
    }
    .card-back .card-body{
        position:relative;
    }
    .card-front{
        text-align:center;
        align-content:center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md3 mt-3 text-light d-flex flex-column ">
            <h2 class="mt-5 font-weight-bold">@ViewBag.getTitle.Title</h2>
            <p class="text-info font-weight-bold">learning</p>
            <a class="my-4 font-weight-bold h5 text-decoration-none" asp-controller="Flashcard" asp-action="Room" asp-route-id="@ViewBag.getID"> <img src="~/img/flash-cards.png" style="width:40px;height:40px" class="mx-3"/>Flashcard</a>
            <a class="my-4 font-weight-bold h5 text-decoration-none" asp-controller="Flashcard" asp-action="Learning" asp-route-id="@ViewBag.getID"> <img src="~/img/reading.png" style="width:40px;height:40px" class="mx-3" />Learning</a>
            <a class="my-4 font-weight-bold h5 text-decoration-none" asp-controller="Flashcard" asp-action="Writing" asp-route-id="@ViewBag.getID"><img src="~/img/writing.png" style="width:40px;height:40px" class="mx-3" />Writing</a>
            <a class="my-4 font-weight-bold h5 text-decoration-none" asp-controller="Flashcard" asp-action="Test" asp-route-id="@ViewBag.getID"><img src="~/img/test.png" style="width:40px;height:40px" class="mx-3" />Test</a>
</div>

        <div class="col-md-9 ml-5 pl-5 mt-5 pt-5">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="display:flex;justify-content:center">

                    <div class="item active pt-5" style="justify-content:center">
                        <div class="card-container">
                            <div class="card text-white bg-secondary mx-3 card-front mycard" style="width:54rem;height:35rem">
                                <div class="card-body" style="display: flex; justify-content: center; align-items: center; ">
                                    <h3 class="card-text "> @ViewBag.getFirst.Term</h3>
                                </div>
                            </div>
                            <div class="card text-white bg-secondary mx-3 card-back mycard" style="width:54rem;height:35rem">
                                <div class="card-body" style="display: flex; justify-content: center; align-items: center; ">
                                    <p class="card-text h3">@ViewBag.getFirst.Definition</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    @for (int i = 1; i < ViewBag.getQuiz.Count; i++)
                    {
                        <div class="item pt-5" style="justify-content:center">
                            <div class="card-container">
                                <div class="card text-white bg-secondary mx-3 card-front mycard" style="width:54rem;height:35rem">
                                    <div class="card-body" style="display: flex; justify-content: center; align-items: center; ">
                                        <h3 class="card-text">@ViewBag.getQuiz[i].Term</h3>
                                    </div>
                                </div>
                                <div class="card text-white bg-secondary mx-3 card-back mycard" style="width:54rem;height:35rem">
                                    <div class="card-body"  style="display: flex; justify-content: center; align-items: center; ">
                                        <p class="card-text h3">@ViewBag.getQuiz[i].Definition</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex clearfix align-items-center">
        <div class="col-3 my-2 d-flex align-items-center">
            <img src=@ViewBag.User.AvatarUrl style="width:30%;height:80%" />
            <div class="mx-4">
                <p>made by</p>
                <h4 class="text-info font-weight-bold">@ViewBag.User.Username</h4>
            </div>
        </div>
    </div>
    <div class="mb-3 clearfix">
        <h4 class="font-weight-bold float-left">Number of Terms (@ViewBag.getQuiz.Count)</h4>
        <div class="float-right">
            <i class="fas fa-share-alt mx-3"></i>
            <i class="fas fa-bookmark"></i>
            <select class="form-select h4 bg-dark mx-3" aria-label="Default select example">
                <option class="h4" selected>Original</option>
                <option class="h4 " value="1">Order by alphabetical</option>
            </select>
        </div>
    </div>

    <div class="mb-5 pb-5">
        <!-- Quiz term set -->
        @foreach (var item in ViewBag.getQuiz)
        {
            <div class="card bg-secondary mb-3" style="width:100%">
                <div class="card-body d-flex align-items-center">
                    <h5 class="card-title h5 font-weight-bold col-4" >@item.Term</h5>
                    <p class="card-text border-left pl-2 h5 font-weight-bold">@item.Definition</p>
                </div>
            </div>
        }
        </div>
   
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



