@{ ViewData["Title"] = $"Flashcard: {@ViewBag.Title}";
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#myCarousel").carousel("pause");
            // Enable Carousel Controls
            $(".left").click(function () {
                $("#myCarousel").carousel("prev");
            });
            $(".right").click(function () {
                $("#myCarousel").carousel("next");
            });
            $(".start").click(function () {
                $("#myCarousel").carousel("next");
                $("#i").removeClass("fa-play");
                $("#i").addClass("fa-pause");
                a = true;
            });
                 $("#myCarousel").on('slide.bs.carousel', function (event) {
                $(".progress-bar").css({ "width": ((event.from+1) * 100) / (100 *@ViewBag.getQuiz.Count) * 100 +"%"});
                $(".totalquiz").text((event.from + 1) + "/" +@ViewBag.getQuiz.Count);
                if (event.from>= @ViewBag.getQuiz.Count) {
                     window.location.href = '@Url.Action("Congrats")'
                }
            });

        });

    </script>
}
    <style>
        * {
            color: white;
        }

        .card-container:hover .card-front {
            transform: rotateX(180deg);
        }

        .card-container:hover .card-back {
            transform: rotateX(0deg);
        }

        .card-back {
            transform: rotateX(-180deg);
        }

        .card-container {
            position: relative;
            perspective: 200rem;
            height: 35rem;
            width: 54rem;
        }

        .mycard {
            position: absolute;
            transition: all 0.9s;
            backface-visibility: hidden;
        }

        .card-back .card-body {
            position: relative;
        }

        .card-front {
            text-align: center;
            align-content: center;
        }
    </style>
    <div class="container">
        <div class="row" style="height:100vh;">
            <div class="col-md-3 pt-5 px-5 text-light d-flex flex-column bg-dark">
                <a class="h5 font-weight-bold text-light text-decoration-none" asp-controller="Flashcard" asp-action="Index" asp-route-id="@TempData.Peek("getID")"><i class="fas fa-chevron-left"></i> Return</a>
                <h5 class="my-5 font-weight-bold"> <img src="~/img/credit-card.png" style="width:40px;height:40px" class="mx-3" />Flashcard</h5>
                <div class="progress">
                    <div class="progress-bar bg-info " role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <h5 class="my-2">Progress</h5>
                    <h5 class="my-2 totalquiz"> 0/@ViewBag.getQuiz.Count</h5>
                </div>
                <a role="button" class="btn btn-warning start" style="margin-top:80%" data-slide="next" href="#myCarousel"><i id="i"class="fas fa-play mr-3" style="color:white"></i>Start</a>
            </div>

            <div class="col-md-9">
                <div id="myCarousel" class="carousel slide">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="carousel-item active pt-5" style="justify-content:center">
                            <div class="card-container">
                                <div class="card text-white bg-secondary mx-3 card-front mycard" style="width:54rem;height:35rem">
                                    <div class="card-body" style="display: flex; justify-content: center; align-items: center; ">
                                        <h3 class="card-text ">@ViewBag.getFirst.Term</h3>
                                    </div>
                                </div>
                                <div class="card text-white bg-secondary mx-3 card-back mycard " style="width:54rem;height:35rem">
                                    <div class="card-body d-flex align-items-center justify-content-center">
                                        <p class="card-text h3 text-justify" style="width:43rem">@ViewBag.getFirst.Definition</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @foreach (var item in ViewBag.getQuiz)
                        {
                            <div class="carousel-item pt-5" style="justify-content:center">
                                <div class="card-container">
                                    <div class="card text-white bg-secondary mx-3 card-front mycard" style="width:54rem;height:35rem">
                                        <div class="card-body" style="display: flex; justify-content: center; align-items: center; ">
                                            <h3 class="card-text">@item.Term</h3>
                                        </div>
                                    </div>
                                    <div class="card text-white bg-secondary mx-3 card-back mycard" style="width:54rem;height:35rem">
                                        <div class="card-body d-flex align-items-center">
                                            <p class="card-text h3 text-justify" style="width:43rem">@item.Definition</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <!-- Left and right controls -->
                <div class="pt-4" style="margin-left:47%">
                    <a role="button" class="btn btn-info mr-3 left" data-slide="prev" href="#myCarousel"><i class="fas fa-chevron-left"></i></a>
                    <a role="button" class="btn btn-info right" data-slide="next" href="#myCarousel"><i class="fas fa-chevron-right"></i></a>
                </div>

            </div>

        </div>
    </div>
