@model Bill
@{
    ViewData["Title"] = "Payment";
}
<style>
    .containerform{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}
.containerform form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}
.container form .inputBox{
    margin-top: 20px;
}

.container form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}
.submit-btn{
    width: 100%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
    border:none;
}
.pay-btn{
    width: 100%;
    background:linear-gradient(173deg, #3e4eaa, #14aaff);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
    border:none;
}
.submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}
.pay-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}
.mycard-container{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}
.mycard-container .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg, #7c12de, #ffca14);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}
.mycard-container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}
.image img{
    height: 50px;
}
.card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
}
.front .flexbox{
    display: flex;
}
.front .flexbox .box:nth-child(1){
    margin-right: auto;
}
.front .flexbox .box{
    font-size: 15px;
    color:#fff;
}
</style>

<div class="containerform">
   <div class="mycard-container">

        <div class="front">
            <div class="image">
                <img src="~/img/chip.png" alt="">
                <img src="~/img/visa.png" alt="">
            </div>
            <div class="card-number-box">################</div>
            <div class="flexbox">
                <div class="box">
                    <span>card holder: <span class="text-warning">@TempData.Peek("username")</span>
                    <div class="card-holder-name">Amount to Pay: <span class="text-warning">@Model.Amount.Value USD</span></div>
                </div>
                <div class="box">
                    <span>expires</span>
                    <div class="expiration">
                        <span class="exp-month">mm</span>
                        <span class="exp-year">yy</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @using (Html.BeginForm("Index", "Payment", FormMethod.Post)){
        <div class = "inputBox">
            @if (ViewBag.Success!=null)
           {
            <div class="alert alert-primary" role="alert">
              <strong>OTP</strong>  @ViewBag.Success
            </div>
           }
            
            <span>
               Enter your Phone number to get the OTP
            </span>
             @Html.TextBox("phonenumber", "", new { @style = "color:#444;width:100%;padding: 10px;border-radius: 10px;border:1px solid rgba(0,0,0,.3);",@id = "myInput", @maxlength = "10", @oninput = "myFunction()", @autocomplete = "off", @class = "card-number-input"})
             <div class="alert alert-danger mt-3" role="alert" style="display:none;width:100%">
                 Invalid phone number, please try again!!
                </div>
                <input type="hidden" name="amount" asp-for="Amount" value = "@Model.Amount.Value">
                @if (ViewBag.Success==null){
                <input type="submit" value="submit" class="submit-btn">
                 }else{
                     <button id="rzp-button1" class="pay-btn">Pay</button>
                }
        </div>
    }
</div>

@section Scripts {
    <script>
        //Verify Input
        let pattern = /^[0-9]{10}$/g;
        function myFunction() {
            var x = document.getElementById("myInput");
            console.log(x.value);
            x.value = x.value.replace(/[\D]/g, '').replace(/(\..*?)\..*/g, '$1');
        }
         $(".submit-btn").click(function (e) {
        if (!pattern.test(document.getElementById("myInput").value)) {
             $(".alert-danger").css("display", "inline-block");
               e.preventDefault();
             }
          });

    </script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "@ViewBag.Key", // Enter the Key ID generated from the Dashboard
    "amount": "3599", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "USD",
    "name": "Quizlet Clone",
    "description": "@Model.Description",
    "image": "https://cdn.razorpay.com/logos/IOiU2VCQv7Gc5E_medium.png",
    "order_id": "@Model.OrderId", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "@TempData.Peek("username")",
        "email": "@TempData.Peek("userEmail")",
        "contact": "@ViewBag.PhoneNumber"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#516cf0"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert("response.error.code"  response.error.code);
        alert("response.error.description" response.error.description);
        alert("response.error.source" + response.error.source);
        alert("response.error.step" + response.error.step);
        alert("response.error.reason" + response.error.reason);
        alert("response.error.metadata.order_id" + response.error.metadata.order_id);
        alert("response.error.metadata.payment_id" + response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
}