
@{
    ViewData["Title"] = "Home Page";
}
@if (TempData.Peek("username") != null)
{
    <h3 class="mt-5 text-light">Your Set</h3>
    @if (ViewBag.MySet.Count==0)
    {
        <span style="display:flex"><h4 class="text-warning">Hmm, Seems like you haven't has a Set yet!</h4> <a  asp-controller="Home" asp-action="CreateQuiz" style="font-size:x-large" class="text-info">Create one!</a></span>
            
    }
    <div style="display: grid; grid-template-columns: auto auto auto;">
        @foreach (var item in ViewBag.MySet)
        {
            <div class="card mt-3 mx-2 bg-dark text-light" style="width: 22rem; height:11rem;cursor:pointer">
                <div class="card-body">
                    <a class="card-title h3 text-light text-decoration-none" asp-controller="Flashcard" asp-action="Index" asp-route-id="@item.Value.Id">@item.Value.Title</a>
                    @foreach (var item2 in ViewBag.TotalQuiz)
                    {
                        if (item2.Key == item.Value.Id)
                        {
                            <h6 class="card-subtitle mt-2 text-muted">@item2.Value terms</h6>
                        }
                    }
                    <span style="display: flex; align-items: center;" class="mt-4">
                        <img src="@item.Key.AvatarUrl" style="width: 15%; height: 15%; border-radius: 50%;" />
                        <a class="card-subtitle text-decoration-none h5 text-light" asp-controller="Flashcard" asp-action="Users" asp-route-id="@item.Key.Id">@item.Key.Username</a>
                    </span>

                </div>
            </div>
        }
    </div>
}
<h3 class="mt-5 text-light">Populated</h3>
<div style="display: grid; grid-template-columns: auto auto auto;">
    @foreach (var item in ViewBag.QuizSet)
    {
        <div class="card mt-3 mx-2 bg-dark text-light" style="width: 22rem; height:11rem;cursor:pointer">
            <div class="card-body">
                <a class="card-title h3 text-light text-decoration-none" asp-controller="Flashcard" asp-action="Index" asp-route-id="@item.Value.Id">@item.Value.Title</a>
                @foreach (var item2 in ViewBag.TotalQuiz)
                {
                    if (item2.Key == item.Value.Id)
                    {
                        <h6 class="card-subtitle mt-2 text-muted">@item2.Value terms</h6>
                    }
                }
                <span style="display: flex; align-items: center;" class="mt-4">
                    <img src="@item.Key.AvatarUrl" style="width: 15%; height: 15%; border-radius: 50%;" />
                    <a class="card-subtitle text-decoration-none h5 text-light" asp-controller="Flashcard" asp-action="Users" asp-route-id="@item.Key.Id">@item.Key.Username</a>
                </span>

            </div>
        </div>
    }
</div>








