@{
    ViewData["Title"] = "My Library";
}

<h3 class="mt-5 text-light">My Set</h3>
<div style="display: grid; grid-template-columns: auto auto auto;">
    @foreach (var item in ViewBag.MySet)
    {
        <div class="card mt-3 mx-2 bg-dark text-light" style="width: 22rem; height:11rem;cursor:pointer">
            <div class="card-body">
                <a class="card-title h3 text-light text-decoration-none" asp-controller="Flashcard" asp-action="Index" asp-route-id="@item.Value.Id">@item.Value.Title</a>
                @foreach (var item2 in ViewBag.TotalQuiz)
                {
                    if (item2.Key == item.Value.Id)
                    {
                        <h6 class="card-subtitle mt-2 text-muted">@item2.Value terms</h6>
                    }
                }
                <span style="display: flex; align-items: center;" class="mt-4 mb-3">
                    <img src="@item.Key.AvatarUrl" style="width:20%;height:20%" />
                    <h5 class="card-subtitle">@item.Key.Username</h5>
                </span>

            </div>
        </div>
    }
</div>
