@model WebApplication1.Models.User
@{
    ViewData["Title"] = "Register";
}
@section Scripts {
    <script>
        //Preview Avatar goes here
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }

        //Avatar file goes here
        const url = "https://api.cloudinary.com/v1_1/djhjuqgne/image/upload/?upload_preset=yfm96suk";
        const form = document.querySelector("#form");

        form.addEventListener("submit", (e) => {
            e.preventDefault();

            const files = document.querySelector("[type=file]").files;
            const formData = new FormData();

            for (let i = 0; i < files.length; i++) {
                let file = files[i];
                formData.append("file", file);
                formData.append("upload_preset", "docs_upload_example_us_preset");

                fetch(url, {
                    method: "POST",
                    body: formData
                })
                    .then((response) => {
                        return response.text();
                    })

                    .then((data) => {
                        console.log(data)
                        const object = JSON.parse(data)
                        document.getElementById("data").value = object.url;
                    });
            }
        });

        //Datetime picker goes here
        $(function () {
            $("#datepicker").datepicker();
        });

        //Password validation
        var password = $('.password');
            var confirm = $('.confirmpw');
            var btn = $('.register');
        btn.click(function (e) {
                if (password.val().localeCompare(confirm.val()) !== 0) {
                    $(".alert-danger").css("display", "inline-block");
                    e.preventDefault();
                } 
                else {
                    $(".alert-danger").css("display", "none");
                    $(".validate_year").css("display", "none");
                };
            });

    </script>
}
<section class="vh-100 mt-2">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                                @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                                {
                                    <form class="mx-1 mx-md-4">
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextBoxFor(model => model.Username, new { @required = "required", @type = "text", @id = "form3Example4cd", @class = "form-control", @placeholder = "Your Name" })
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextBoxFor(model => model.Email, new { @required = "required", @type = "email", @id = "form3Example4cd", @class = "form-control", @placeholder = "Your Email" })
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextBox("password", null, new { @required = "required", @class = "form-control password", @type = "password", @placeholder = "Password", @id = "form3Example4c" })
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextBoxFor(model => model.Password, new { @required = "required", @type = "password", @id = "form3Example4cd", @class = "form-control confirmpw", @placeholder = "Repeat your password" })
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user-astronaut fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextBoxFor(model => model.AvatarUrl, new { @required = "required", @readonly = "readonly", @type = "text", @id = "data", @class = "form-control text-success", @placeholder = "Avatar Url goes here" })
                                            </div>
                                        </div>


                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-birthday-cake fa-lg me-3 fa-fw"></i>
                                            <div class='input-group date' id='datetimepicker1'>
                                                @Html.TextBoxFor(model => model.Dob, new { @required = "required", @type = "date", @name = "DueDate", @class = "form-control", @id = "datepicker" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="submit" class="btn btn-primary btn-lg register">Register</button>
                                        </div>

                                    </form>
                                }
                                <div class="alert alert-danger" role="alert" style="display:none">
                                    Your password and confirm password are not match!
                                    Please enter again!!
                                </div>
                                @if (ViewBag.ValidYear != null)
                                {
                                    <div class="alert alert-warning" role="alert">
                                        @ViewBag.ValidYear
                                    </div>
                                }
                                    @if (ViewBag.Err != null)
                                    {
                                        <div class="alert alert-warning" role="alert">
                                            @ViewBag.Err
                                        </div>
                                    }
                                    @if (ViewBag.Success != null)
                                    {
                                        <div class="alert alert-success" role="alert">
                                            @ViewBag.Success @Html.ActionLink("here", "Login", "Home") to join us!!
                                        </div>
                                    }


                                </div>

                            <div class="align-content-center justify-content-center col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 d-flex flex-column">
                                <h4>Avatar Preview</h4>
                                <!--Preview img goes here!-->
                                <img id="blah" class="img-fluid" src="https://avatars.dicebear.com/api/open-peeps/your-custom-seed.svg" alt="Default avatar" style="width:80%;height:70%; border-radius:50%;border:1px solid black" />
                                <!--End preview-->
                                <form id="form" method="post" enctype="multipart/form-data">
                                    <input accept="image/*" type='file' id="imgInp" placeholder="Avatar Upload" />
                                    <input type="submit" value="Upload Files" name="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
