@model WebApplication1.Models.User
@{
    ViewData["Title"] = "Register";
}
@section Scripts {
    <script>
        let pattern = /^[a-zA-Z0-9!#\$%\^\&*@@\)\(+=._,-]{6,}$/g;
      //Password validation
        var password = $('.password');
            var confirm = $('.confirmpw');
            var btn = $('.register');
        btn.click(function (e) {
                if (password.val().localeCompare(confirm.val()) !== 0) {
                    $(".pw-mismatch").css("display", "inline-block");
                    $(".policy-check").css("display", "none");
                    $(".password-validate").css("display", "none");
                e.preventDefault();
                 } else if (!pattern.test(confirm.val())) {
                    $(".password-validate").css("display", "inline-block");
                    $(".policy-check").css("display", "none");
                    $(".pw-mismatch").css("display", "none");
                    e.preventDefault();
                } else if (!document.getElementById("flexCheckDefault").checked) {
                    $(".policy-check").css("display", "inline-block");
                    $(".password-validate").css("display", "none");
                    $(".pw-mismatch").css("display", "none");
                    e.preventDefault();
                }
                else {
                    $(".policy-check").css("display", "none");
                    $(".password-validate").css("display", "none");
                    $(".pw-mismatch").css("display", "none");
                    $(".validate_year").css("display", "none");
                };
            });

    </script>
}
<style>
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }
    .myform::-webkit-scrollbar {
        display: none;
    }
</style>
<section class="h-80" style="margin:-7% 0">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4" >
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/img4.jpg"
                                 alt="Sample photo"
                                 class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6 myform" style="height:800px;overflow-y:overlay">
                            <div class="card-body p-md-5 text-black">
                                <div style="display:flex;justify-content:space-around">
                                    <div style="display:flex;flex-direction:column;align-items:center">
                                        <a class="text-uppercase h3 text-decoration-none" asp-action="Register" asp-controller="Home">SignUp</a>
                                        <svg style="margin-top:-8%" width="66" height="43" viewBox="0 0 66 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M63 3C55.2054 3.19011 47.7219 4.7788 40.1111 6.22222C33.0608 7.55934 25.7652 7.94081 18.7778 9.44444C14.8623 10.287 11.1021 11.3199 7.22222 12.2222C0.125354 13.8727 3.20932 15 8.44444 15C18.8383 15 29.2476 16 39.5556 16C42.9074 16 46.2593 16 49.6111 16C53.0919 16 58.3046 15 51.4444 15C45.2009 15 35.3109 16.0587 30.2222 20.2222C28.3287 21.7715 26.1259 22.4786 24 23.7778C18.7842 26.9652 21.5611 27 25.9444 27C29.6481 27 33.3518 27 37.0556 27C39.5 27 41.9444 27 44.3889 27C48.5176 27 39.4447 29.5872 38.3889 29.8889C35.0961 30.8297 32.7336 32.8175 29.9444 34.4444C27.2196 36.0339 26.5258 38.3162 24 40" stroke="#EBCF3C" stroke-width="5" stroke-linecap="round" />
                                        </svg>
                                    </div>
                                    <a class="text-uppercase h3 text-decoration-none text-dark" asp-action="Login" asp-controller="Home">SignIn</a>
                                </div>
                                <a asp-action="FacebookRegister" asp-controller="Home" style="width:350px" class="btn btn-outline-primary py-2 mx-4 my-3">
                                    <i class="fab fa-facebook-f pr-5"></i>
                                    Continue with Facebook
                                </a>
                                <a asp-action="GoogleRegister" asp-controller="Home" style="width:350px" class="btn btn-outline-danger py-2  mx-4 mb-3">
                                    <i class="fab fa-google pr-5"></i>
                                    Continue with Google
                                </a>
                                <a asp-action="AppleRegister" asp-controller="Home" style="width:350px" class="btn btn-outline-success py-2  mx-4 mb-3">
                                    <i class="fab fa-apple pr-5"></i>
                                    Continue with Apple
                                </a>
                                <div style="display:flex">
                                    <hr />
                                    <h4 class="text-secondary">Or</h4>
                                    <hr />
                                </div>
                                @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                                {
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1m">Birthdays</label>
                                        <div class='input-group date' id='datetimepicker1'>
                                            @Html.TextBoxFor(model => model.Dob, new { @required = "required", @type = "date", @name = "DueDate", @class = "form-control form-control-lg", @id = "form3Example8" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    @if (ViewBag.ValidYear != null)
                                    {
                                        <div class="alert alert-warning" role="alert">
                                            @ViewBag.ValidYear
                                        </div>
                                    }
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1m">User name</label>
                                        @Html.TextBoxFor(model => model.Username, new { @required = "required", @type = "text", @id = "form3Example8", @class = "form-control form-control-lg", @placeholder = "andrew123" })
                                    </div>
                                    @if (ViewBag.Error != null)
                                    {
                                        <div class="alert alert-warning" role="alert">
                                            @ViewBag.Error
                                        </div>
                                    }
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1m">Email</label>
                                        @Html.TextBoxFor(model => model.Email, new { @required = "required", @type = "email", @id = "form3Example8", @class = "form-control form-control-lg", @placeholder = "user@abc.com" })
                                    </div>
                                    @if (ViewBag.Err != null)
                                    {
                                        <div class="alert alert-warning" role="alert">
                                            @ViewBag.Err
                                        </div>
                                    }
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1m">Password</label>
                                        @Html.TextBox("password", null, new { @required = "required", @class = "form-control form-control-lg password", @type = "password", @placeholder = "password", @id = "form3Example8" })
                                    </div>
                                    <div class="alert alert-info password-validate" role="alert" style="display:none">
                                        <ul>
                                            <li>
                                                Passwords must have at least 6 character length.
                                            </li>
                                            <li>
                                                Passwords must have at least one non alphanumeric character.
                                            </li>
                                            <li>
                                                Passwords must have at least one lowercase ('a'-'z').
                                            </li>
                                            <li>
                                                Passwords must have at least one uppercase ('A'-'Z').
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1m">Confirm Password</label>
                                        @Html.TextBoxFor(model => model.Password, new { @required = "required", @type = "password", @id = "form3Example8", @class = "form-control form-control-lg confirmpw", @placeholder = "repeat your password" })
                                    </div>
                                    <div class="alert alert-danger pw-mismatch" role="alert" style="display:none">
                                        Your password and confirm password are not match!
                                        Please enter again!!
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            I agree <a href="#"> Terms of Service</a> and <a href="#">Privacy Policy</a> of QuizletClone
                                        </label>
                                    </div>
                                    <div class="text-danger policy-check my-2" role="alert" style="display:none;border:1px solid red;border-style:dotted">
                                        PLEASE ACCEPT QUIZLET'S TERMS OF SERVICE AND PRIVACY POLICY TO CONTINUE
                                    </div>
                                    <div class="d-flex flex-column justify-content-center pt-3 ">
                                        <button type="submit" class="btn btn-warning btn-lg mb-2 ms-2 register text-light">SignUp</button>
                                    </div>

                                }
                                <div class="d-flex flex-column justify-content-center pt-3 ">
                                    <a class="btn btn-outline-secondary btn-lg mb-2 ms-2" type="button" asp-controller="Home" asp-action="Login">Already have an account? Log in</a>
                                </div>
                            </div>



                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
