@model WebApplication1.Models.User
@{
    ViewData["Title"] = "Search";
}
@if (TempData.Peek("username") != null)
{
    <h3 class="mt-5 text-light">Your Set</h3>
    @if (ViewBag.MySet.Count <= 0)
    {
        <h4 class="text-danger my-2">No Result Matching!</h4>
    }
    <div style="display: grid; grid-template-columns: auto auto auto;">
        @foreach (var item in ViewBag.MySet)
        {
            <div class="card mt-3 mx-2 bg-dark text-light" style="width: 22rem; height:11rem;cursor:pointer">
                <div class="card-body">
                    <a class="card-title h3 text-light text-decoration-none" asp-controller="Flashcard" asp-action="Index" asp-route-id="@item.Value.Id">@item.Value.Title</a>
                    @foreach (var item2 in ViewBag.TotalQuiz)
                    {
                        if (item2.Key == item.Value.Id)
                        {
                            <h6 class="card-subtitle mt-2 text-muted">@item2.Value terms</h6>
                        }
                    }
                    <span style="display: flex; align-items: center;" class="mt-4 mb-3">
                        <img src="@item.Key.AvatarUrl" style="width:20%;height:20%" />
                        <a class="card-subtitle text-decoration-none h5 text-light"  asp-controller="Flashcard" asp-action="User" asp-route-id="@item.Key.Id">@item.Key.Username</a>
                    </span>

                </div>
            </div>
        }
    </div>
}


<h3 class="mt-5 text-light"> Related Set Quiz</h3>
@if (ViewBag.SetResult.Count <= 0)
{
    <h4 class="text-danger my-2">No Result Matching!</h4>
}
<div style="display: grid; grid-template-columns: auto auto auto;">
    @foreach (var item in ViewBag.SetResult)
    {
        <div class="card mt-3 mx-2 bg-dark text-light" style="width: 22rem; height:11rem;cursor:pointer">
            <div class="card-body">
                <a class="card-title h3 text-light text-decoration-none" asp-controller="Flashcard" asp-action="Index" asp-route-id="@item.Value.Id">@item.Value.Title</a>
                @foreach (var item2 in ViewBag.TotalQuiz)
                {
                    if (item2.Key == item.Value.Id)
                    {
                        <h6 class="card-subtitle mt-2 text-muted">@item2.Value terms</h6>
                    }
                }
                <span style="display: flex; align-items: center;" class="mt-4 mb-3">
                    <img src="@item.Key.AvatarUrl" style="width:20%;height:20%" />
                    <h5 class="card-subtitle">@item.Key.Username</h5>
                </span>

            </div>
        </div>
    }
</div>
<h3 class="mt-5 text-light"> Related User</h3>
@if (ViewBag.UserRelated.Count <= 0)
{
    <h4 class="text-danger my-2">No Result Matching!</h4>
}
<div style="display: grid; grid-template-columns: auto auto auto;">
    @foreach (var item in ViewBag.UserRelated)
    {
        <div class="card mt-3 mx-2 bg-dark text-light" style="width: 22rem; height:11rem;cursor:pointer">
            <div class="card-body">
                <img src="@item.Key.AvatarUrl" style="width:50%;height:50%;margin-left:-16%" />
                <h5 class="card-subtitle">@item.Key.Username</h5>
                <h6 class="card-subtitle my-2 text-muted"><i class="fas fa-book"></i> @item.Value Set of Quiz</h6>
            </div>
        </div>
    }
</div>
